<div class="container">

    <div class="row" id="firstRow">
        <h1>Friend Finder with Sequelize</h1>
    </div>


    <div class="row" id="secondRow">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <form action="/" method="POST">
                <div class="input-group">
                    <input type="text" name="newTopping" class="form-control" placeholder="Add a topping choice...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="submitTopping">Go!</button>
                    </span>
                </div>
            </form>

        </div>

        <div class="col-md-4"></div>
    </div>


    <div class="row" id="thirdRow">

        <div class="col-md-2"></div>
        <div class="col-md-4" id="left">

            <p class="top">SALAD BAR</p>


        </div>
        <div class="col-md-4" id="right">

            <p class="top">SALAD PLATE</p>



        </div>
        <div class="col-md-2"></div>
    </div>
</div>



<script type="text/javascript">
    // $(".devourTopping").on("click", function() {
    //     var id = $(this).data("saladid");

    //     $.ajax("/" + id, {
    //         type: "PUT",
    //     }).then(
    //         function() {
    //             console.log("updated id ", id);
    //             location.reload();
    //         });
    // });
</script>
