<body class="home">
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">


                <div class="panel panel-default" id="home">
                    <div class="panel-body">

                        <div class="header"><img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Friends_logo.svg" width="300px">&nbsp;&nbsp;F I N D E R</div>
                        <br>

                        <div class="intro">Answer a few basic questions.
                            <br>Then find the friend with the greatest compatability!
                        </div>

                        <br>
                        <a href="/survey"><button type="button" class="btn btn-default" id="searchButton">Start Survey</button></a>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>

        </div>
    </div>

</body>
